.playerCard--container {
    position:relative;
    // display:flex;
    padding:1%;
    // justify-content: space-around;
    gap:10%;
    place-items: center;
    background-color: var(--roster-bg);
    margin:3%;
    height:80px;
    border-radius: var(--border-radius-input);
    overflow:hidden;
    h3 {
        position:absolute;
        top:30%;
        left:30%;
        font-size:22px;
    }
}

.playerCard--playerNumber {
    position:absolute;
    top:18%;
    left:5%;
    width:55px;
    height:55px;
    border-radius:50%;
    display:grid;
    place-items: center;
    background-color: var(--black);
    h2{
        z-index:2;
        color: var(--white);
    }
}

