// .navbar--container {
//     position:absolute;
//     width:100%;
//     top:0;
//     left:0;
// }

.navbar--links {
    text-decoration: none;
    color: var(--white);
}

.navbar--links:hover, .navbar--logo:hover {
    color: var(--yellow);
}

.navbar--logo {
    img {
        margin-top:-1px;
        transition:all 1s ease;
    }
}

.navbar--logo img:hover {
    transform: translateX(-200%);
}