// .navbar--container {
//     position:absolute;
//     width:100%;
//     top:0;
//     left:0;
// }

.navbar--links {
    text-decoration: none;
    color: var(--white);
}

.navbar--links:hover, .navbar--logo:hover {
    color: var(--yellow);
}